version: '3.9'

services:
  userservice:
    build: .
    container_name: userservice
    ports:
      - "5000:80"
    env_file:
      - .env
    environment:
      ASPNETCORE_ENVIRONMENT: Development
